.form  input[type=submit]{
    text-transform: uppercase;
    outline: 0;
    background: #1240AB;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
}

.form button:hover,.form button:active,.form button:focus {
    background: #1240AB;
}

.form #new-user {
    margin:40px auto 0 auto;
    width:400px;
    height: 300px;
    padding:10px;
    background-color: #6c8cd5;
    border-radius:5px;
    box-shadow: 0 0 10px #3570ad;
}