table.users_table {

    border: 2px solid #1240AB;
    background-color: #EEEEEE;
    width: 100%;
    border-collapse: collapse;
}
table.users_table td, table.users_table th {
    border: 1px solid #AAAAAA;
}
table.users_table tbody td {
    font-size: 16px;
}
table.users_table tr:nth-child(even) {
    background: #D0E4F5;
}

table.users_table thead {
    background: #4671D5;
    background: -moz-linear-gradient(top, #6C8CD5 0%, #327cad 66%, #4671D5 100%);
    background: -webkit-linear-gradient(top, #6C8CD5 0%, #327cad 66%, #4671D5 100%);
    background: linear-gradient(to bottom, #6C8CD5 0%, #327cad 66%, #4671D5 100%);
    border-bottom: 2px solid #444444;
}
table.users_table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}
table.users_table thead th:first-child {
    border-left: none;
}

table.users_table tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
}
table.users_table tfoot td {
    font-size: 14px;
}
table.users_table tfoot  {
    text-align: right;
}
table.users_table tfoot a{
    display: inline-block;
    background: #4671D5;
}

td > * {
    vertical-align: baseline;
}

.header, table.users_table tfoot a {
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.add-new-user{
    width:100%;
    min-height:100%;
    background-color: rgba(53, 112, 173, 0.5);
    overflow:hidden;
    position:fixed;
    top:0;
}
